/* 文本样式 */

.app-name-link{
    font-family: STXingkai;
}

.anchor{
    font-family: STKaiTi;
}

.cover{
    background: url(../shoot.jpg) no-repeat center center fixed!important;
    background-size: 100% 120% !important;
    
}

.body{
    /* font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    color: #2c3e50; */
    /* background: url(/three.jpg) no-repeat center center fixed;
    background-size: cover; */
    opacity: 1.0;
    background-color: gainsboro;
}

.sidebar{
    background-color: gainsboro !important;
}

.sidebar-toggle{
    background-color: gainsboro !important;
}

/* h1,h2,h3,h4,h5,h6{
    font-family: STXingkai;
} */

h2 span::before{
    content: "🍨";
}

h3 span::before{
    content: "🍒";
}


/* h2字体设置 */
h2 span{
    display: block;
    /* background: rgb(228, 217, 223); */
    /* color:#B0E0E6; */
    padding: 10px 16px;
    /* border-radius:5px; */
    box-shadow: 1px 1px 3px pink;
    /* font-size: 22px; */
}

h3 span{
    display: block;
    padding: 8px 12px;
    box-shadow:  1px 1px 3px#53b5d9;
}

/* h3字体设置 */
/* h3 span{
    font-size: 18px;
} */

/* 导航栏(不会因下拉而消失) */
.app-nav {
    position: fixed !important;
}

/* 导航栏字体大小 */
.app-nav a {
    font-size: 18px;
}

/* 以下是侧边栏(自定义) */
/* aside.sidebar ul li {
    margin: 0;
    position: relative;
}

aside.sidebar ul li ul {
    margin: 6px 0;
}

aside.sidebar ul li p {
    padding-left: 22px;
    font-size: 18px;
    font-weight: normal;
}

aside.sidebar ul li a {
    line-height: 35px;
    font-size: 16px;    
    padding: 3px 0 3px 22px;
}

aside.sidebar ul li.active > a {
    font-size: 16px !important;
} */

/* aside.sidebar ul li.active > a:before {
    content: '' !important;
    position: absolute !important;
    margin: 0 !important;
    width: 10px !important;
    height: 10px !important;
    top: 15px !important;
    left: 0px !important;
    border-radius: 50% !important;
    background-color: #fed24a !important;
    box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
}  */

/*滚动条样式 start*/

/**彩色滚动条样式开始*/
::-webkit-scrollbar {
width: 7px;  
height: 0.5px;
}
::-webkit-scrollbar-thumb {
background-color: #12b7f5;
background-image: -webkit-linear-gradient(45deg, #FFC0CB 25%, transparent 25%, transparent 50%, #FFC0CB 50%,#FFC0CB 75%, transparent 75%, transparent);
}
/* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #f6f6f6;
} */
/* ::-webkit-scrollbar {
display: block;
}
    
::-webkit-scrollbar {
width: 7px;
height: 1px;
}
    
::-webkit-scrollbar-thumb {
background-color: #735925;
background-image: -webkit-linear-gradient(45deg, #77c85a 25%, #03a9f4 25%, #9755c1 50%, #ff9800 50%, #ffeb3b 75%, #ff5722 75%, #ce7d61);
} */
/**彩色滚动条样式结束*/

/* 加粗 */
.markdown-section strong {
    /* color: rgb(0,123,232) !important; */
    color: #1E90FF !important;
    font-weight: bolder !important;
}

/* 斜体 */
.markdown-section em {
    color: palevioletred !important;
}

/* a 标签 */
.markdown-section a {
    color: rgb(0,123,232);
    text-decoration: none;
}

.markdown-section a:hover {
    text-decoration: underline;
}

/* 无序列表 */
.markdown-section ul {
    margin-left: 28px;
}

.markdown-section ul li {
    padding-top: 4px;
}

/* 表格 */
.markdown-section tr:nth-child(2n) {
    background-color: rgb(248, 248, 248);
}
.markdown-section thead{
    background: rgb(248, 248, 248) !important;
}
.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    display: table !important;
    overflow: auto;
    width: 100%;
}

/* 引用块 */
.markdown-section blockquote{
    background: gainsboro;
    border-left: 5px solid #FFC0CB !important;
    padding:5px;
    border-radius:10px;
}

/* .markdown-section blockquote::before{
    content: "🍒";
} */
/* 代码块 */
.markdown-section pre {
    box-shadow: 2px 2px 20px 6px #ddd !important;
}

/* 代码块 */
.markdown-section pre:before {
    content: "";
    position: absolute !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    background: #fc625d !important;
    width: 12px !important;
    height: 12px !important;
    left: 12px;
    margin-top: 15px;
    -webkit-box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b !important;
    box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b !important;
    z-index: 2;
}
/* 代码块 */
.markdown-section pre>code {
    background-color: #312d2d !important ;
    color: #fafafad7 !important ;
    padding: 32px 16px 18px 16px !important;
    overflow-x: auto !important;
    font-size: 16px;
    position: relative !important;
    border-radius: 5px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto !important;
    text-shadow: none !important;
    box-shadow: 0 10px 30px 0px #312d2d !important;
}
/* 代码块 */
markdown-section code, .markdown-section pre {
    background-color: #312d2d !important;
}
.token.directive.keyword{
    color: #4faee2 !important;
}

.token.keyword{
    color: #c678dd !important;
}

.token.comment{
    color: #737c8b !important;
}

.token.tag{
    color: #a589ad !important;
}

.token.attr-name{
    color: #de916c !important;
}
.token.attr-value{
    color: #4faee2 !important;
}

.token.macro.property{
    color: #4faee2 !important;
}

.token.function{
    color: #e6b456 !important;
}
.token.string{
    color: #98b755 !important;
}
.token.punctuation{
    color: #c0c3c1 !important;
}

.token.number{
    color:#c0c3c1  !important;
}

img, pre {
    border-radius: 8px;
}